<div class="container">
	<div class="row">
	<h1>Twitter Profile Card</h1>
	<p>You can use with Twitter API, bot or manual.</p>
	<!-- code start -->
	<div class="twPc-div">
	    <a class="twPc-bg twPc-block"></a>

		<div>
			<div class="twPc-button">
	            <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->
	            <a href="https://twitter.com/mugan86" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false" data-dnt="true">Follow @mugan86</a>
	            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	            <!-- Twitter Button -->   
			</div>

			<a title="Mert Salih Kaplan" href="https://twitter.com/mugan86" class="twPc-avatarLink">
				<img alt="Mert Salih Kaplan" src="https://pbs.twimg.com/profile_images/746979066192998400/RWmqlx4x.jpg" class="twPc-avatarImg">
			</a>

			<div class="twPc-divUser">
				<div class="twPc-divName">
					<a href="https://twitter.com/mugan86">Anartz Muxika Ledo</a>
				</div>
				<span>
					<a href="https://twitter.com/mugan86">@<span>mugan86</span></a>
				</span>
			</div>

			<div class="twPc-divStats">
				<ul class="twPc-Arrange">
					<li class="twPc-ArrangeSizeFit">
						<a href="https://twitter.com/mugan86" title="1700 Tweet">
							<span class="twPc-StatLabel twPc-block">Tweets</span>
							<span class="twPc-StatValue">1700</span>
						</a>
					</li>
					<li class="twPc-ArrangeSizeFit">
						<a href="https://twitter.com/mugan86/following" title="113 Following">
							<span class="twPc-StatLabel twPc-block">Following</span>
							<span class="twPc-StatValue">113</span>
						</a>
					</li>
					<li class="twPc-ArrangeSizeFit">
						<a href="https://twitter.com/mugan86/followers" title="120 Followers">
							<span class="twPc-StatLabel twPc-block">Followers</span>
							<span class="twPc-StatValue">120</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- code end -->
	</div>
</div>