<div class="jumbotron">
  <h2>'Push Message Admin Panel!</h2>
  <p class="lead">
    <img src="images/push.png" alt="I'm Yeoman"><br>
    Panel to manage Push notifications in differents apps.
  </p>
</div>
<form ng-submit="sendPush()">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-cogs fa-fw"></i> Push Message options
            <span class="label label-danger pull-right"> <i class="fa fa-database fa-fw"></i> Message manage Administration</span>
        </div>
        <div class="panel-body">
            <div class="col-xs 12 col-sm-5 col-md-5">
                <span class="label label-danger"><i class="fa fa-truck fa-fw"></i> Type options</span>
                <p></p>
              
                <div class="form-group">
                    <label for="form-control" id="BPBABAN_LABEL"> Select Option (suscription)</label>
                    

                    <select name="mySelect" id="mySelect" class="form-control"
                      ng-options="option.name for option in data.availableOptions track by option.id"
                      ng-model="data.type">
                    </select>
                </div>
                <div class="form-group">
                    <label> Description</label>
                    <textarea class="form-control" id="BPBAHW_TEXTAREA" rows="3" ng-model="description">Push message show description in devices</textarea>
                </div>
            </div>
            <!--/.column -->
            <div class="col-xs 12 col-sm-7 col-md-7">
                <span class="label label-danger"><i class="fa fa-cogs fa-fw"></i>Message content</span>
                <p></p>
                <div class="form-group">
                    <label> HTML content to message</label>
                    <textarea class="form-control" id="BPPMHW_TEXTAREA" rows="3" ng-model="htmlmsg"> </textarea>
                </div>

                <div class="form-group">
                    <label> Add image url</label>
                    <input id="BPPMV_CHECK" value="" class="form-control"  ng-model="image" type="text">
                </div>
                <input type="submit">
            </div>
        </div>
      </div>
</form>
  
